@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
$big-font: 700;
$medium-font: 500;
$small-font: 300;

$font-size-big: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

$main-font: 'Raleway';
$second-font: 'Source Code Pro';