.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.3s;
    z-index: 1000;

    &--show {
        transform: scale(1);
    }
}

.container {
    width: 85vw;
    height: 70vh;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px 10px rgba($color: #000000, $alpha: .3);

    @include tablet {
        width: 60vw;
        height: 70vh;
    }
}

.form {
    width: 80%;
}

.text {
    font-family: $main-font;
    font-size: $font-size-medium;
    display: block;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input {
    display: block;
    width: 80%;
    outline: none;
    height: 30px;
    font-size: $font-size-medium;
    font-family: $main-font;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
}

.select {
    width: 60%;
    height: 40px;
    font-size: $font-size-medium;
    font-family: $main-font;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    color: $background;
}

.button {
    display: block;
    height: 60px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid $main-color;
    border-radius: 20px;
    font-size: $font-size-big;
    font-family: $main-font;
    font-weight: $medium-font;
    outline: none;
    transition: transform .3s ease-in, background-color .3s ease-in;
    color: #000000;

    &:hover {
        background-color: $main-color;
        transform: translateY(-5px);
        color: $background;
    }

    @include tablet {
        width: 200px;
    }

    @include laptop {
        width: 300px;
    }
}