@mixin setColor($color) {
    background-color: $color;

    &__light {
        background-color: lighten($color, 20%);
    }

    &__enabled {
        cursor: pointer;

        @include laptop {
            &:hover {
                background-color: lighten($color, 20%);
            }
        }

        @include mobile {
            &:active {
                background-color: lighten($color, 30%);
            }
        }
    }
}