@import 'config/colors';
@import 'config/fonts';

@import 'mixins/breakpoints.scss';

@import 'views/index';

@import 'components/header';
@import 'components/leaderboards';
@import 'components/main';

@import 'includes/modal';