header.header
    h1.main-title Simon
    #leaderboards.leaderboards Leaderboards
        img(src="assets/img/arrow.svg")#arrow.icon
        #table.table
            .table__header Name
            .table__header Lvl
            .player hola
            .score 3
            .player hola
            .score 3
            .player hola
            .score 3
            .player hola
            .score 3
            .player hola
            .score 3
