header.header
    h1.main-title Simon
    #leaderboards.leaderboards 
        .leaderboards__header
            |Leaderboards
            img(src="assets/img/arrow.svg")#arrow.icon
        #table.table
            .table__header Name
            .table__header Lvl
