main#main.main
    #level.title Level: 
        span
    .circle
        #green.green.color
        #red.red.color
        #yellow.yellow.color
        #blue.blue.color
        button#start.center.color Start