main#main.main
    #titles.titles
        #name
        #level Level: 
            span
    .circle
        #green.green.color(aria-label="green")
        #red.red.color
        #yellow.yellow.color
        #blue.blue.color
        button#start.center.color Start