#modalEnd.lightbox
    .container
        .container__gameover
            p.text Game Over!
            p.text Name: 
                span#nameEnd.text 
            p.text Your score: 
                span#scoreEnd.text 
            button#restart.button Restart