#lightbox.lightbox
    .container
        form#form.form
            span.text Welcome!!
            span.text Enter your name:
            input(type="text", name="name" required)#input.input
            span.text Select speed:
            select(name="speed")#select.select
                option(value="slow").option Slow
                option(value="medium").option Medium
                option(value="fast").option Fast
            button#startConfirm.button Start