#lightbox.lightbox
    .container
        form#form.form
            span.text Welcome!!
            span.text Enter your name:
            input(type="text", name="name" required)#input.input
            span.text Select dificulty:
            select(name="dificult")#select.select
                option(value="easy").option Easy
                option(value="medium").option Medium
                option(value="hard").option Hard
            button#startConfirm.button Start