.main {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.circle {
    background-color: $black;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid $black;
    width: 70vw;
    height: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 70px auto auto auto;
    z-index: 10;

    @include tablet {
        grid-gap: 15px;
        border: 15px solid $black;
        width: 70vh;
        height: 70vh;
        border: 20px solid $black;
    }

    @include laptop {
        grid-gap: 20px;
        border: 20px solid $black;
    }
}

.title {
    margin-top: 65px;
    text-align: center;
    font-family: $main-font;
    font-weight: $medium-font;
    font-size: $font-size-medium;
    display: none;

    @include tablet {
        font-size: $font-size-big;
    }
}

.color {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    transition: background-color .1s ease-in;
}

.green {
    background-color: $green;

    &__light {
        background-color: lighten($green, 20%);
    }

    &__enabled {
        &:hover {
            background-color: lighten($green, 20%);
        }
    }
}

.red {
    background-color: $red;

    &__light {
        background-color: lighten($red, 20%);
    }

    &__enabled {
        &:hover {
            background-color: lighten($red, 20%);
        }
    }
}

.yellow {
    background-color: $yellow;

    &__light {
        background-color: lighten($yellow, 20%);
    }

    &__enabled {
        &:hover {
            background-color: lighten($yellow, 20%);
        }
    }
}

.blue {
    background-color: $blue;

    &__light {
        background-color: lighten($blue, 20%);
    }

    &__enabled {
        &:hover {
            background-color: lighten($blue, 20%);
        }
    }
}

.center {
    position: absolute;
    background-color: $black;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $background;
    font-family: $second-font;
    font-weight: $medium-font;
    font-size: $font-size-small;
    outline: none;
    border: none;
    transition: transform .1s ease-in;
    z-index: 100;

    @include tablet {
        width: 25vh;
        height: 25vh;
        font-size: $font-size-big;
    }

    &:enabled {
        &:hover {
            transform: scale(1.1);
        }
    }
}